.form-container {
  width: 400px;
  padding: 30px;
  border: solid 1px black;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 30px;
}

.form-header {
  margin: 0;
  margin-bottom: 30px;
}

.form-row {
  margin-bottom: 30px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

.form-button {
  width: 100%;
  color: white;
}
